@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
* {
   margin: 0px;
   padding: 0px;
}
.intro {
font-family: 'Do Hyeon', sans-serif;
text-align: center;
width: 1000px;
height: 100px;
}
iframe {
width: 400px;
height: 400px;
}

chat{
position: absolute;
left: 100px;
}

body {
background-color: #ffffdd;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
header {
   margin:0px auto;
   width: 1000px;
   height: 600px;
   text-align: center;
   position: absolute;
}

.btn>div {
   display: flex;
   flex-direction: row;
}

.header_box >img {
   margin-top: 20px;
   width: 170px;
   height: 100px;
}

.btn {
   width: 100%;
}
.box1 {
   margin-top:110px;
   width: 100%;
   height: 50px;
   text-decoration: none;
   font-style: none;
   color: white;
   text-shadow: 2px 2px 3px black;
}

a{
font-weight: bold;
}

.header_box{
top:-300px;
position: relative;
}
#member_login{
margin-left: 515px;
}

section{
margin-top:400px;
margin-bottom:100px;
width: 1000px;
justify-content: center;
}

h3{
margin-bottom:50px;
font-size: 30px;
}
table {
border-collapse: collapse;
font-family: 'Do Hyeon', sans-serif;
}
.best {
margin-left:30px;
text-align: center;
font-weight: bold;
}
td{
padding: 20px 128px 10px 0px;
}
td > p{
width: 220px;
height: 30px;
}
td > img {
width: 220px;
height: 200px;
}
.bx-wrapper {border:0;background:#fbfbfb;box-shadow:none;}


h3 > button{
color: gray;
padding: 5px 10px 5px 10px; 
background-color: #e9e9e9;
border: none;
font-size: 16px;
border-radius: 5px;
}
.btn_p{
margin-left: 600px;
}
nav {
  width: 100%;
  background-color:#dcdcdc ;
  vertical-align: top;
}

nav ul li {
  display:inline-block;  
}

nav a {
  font-size: 12px;
  color:#F8ECC2;
  display:block;
  text-decoration: none;
  padding:16px 20px;
  margin-bottom: 30px;	
 }

nav a:hover {
  background: #E65540;
}

.menu-trigger {
  display:none;
  color:#F8ECC2;
}

@media screen and (max-width:500px) {
  .menu-trigger {
    display:block;
  }
  nav ul li {
    display:block;
    border-top:1px #79896D solid;    
  }
  nav ul {
    display:none;
  }

}

.dropdown img {
width: 48px;
height: 48px;
margin-right: 5px;
}

.dropdown a{
  position : relative;
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 48px;
  height: 48px;
  padding: 0px;
  margin: 0px;
}

.dropbtn{
  background-color: #f5f5f5;
  font-weight: 400;
  color : rgb(37, 37, 37);
  width :50px;
  height: 20px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
  padding: 0px;
  margin: 5px;
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 100px;
  height: 120px;
  font-weight: bold;
  font-size: 10px;
}

.dropdown-content a{
  height: 20px;
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 9px 24px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav ul {
display: flex;
flex-direction: row;
}

ul li:nth-child(6) {
margin-left: 250px;
}

.profile{
text-align: center;
vertical-align: middle;
color: black;
margin-top: 3px;
margin-left: 20px;
}

.company {
text-align: center;
width: 1000px;
}

.company_box {
margin-left: 35px;
}

.imgload{
display: flex;
flex-direction: row;
justify-content: space-around;
}